.login {
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    border-radius: 6px;
    width: 1000px;
    height: 636px;
    display: flex;
    align-items: center;
    .left {
      flex: 1;
      h1 {
        color: rgb(53, 90, 253);
        font-size: 60px;
      }
      p {
        font-size: 24px;
        margin-bottom: 200px;
        margin-right: 50px;
        margin-top: 5px;
      }
    }
    .right {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 100px;
      .wrapper {
        border-radius: 10px;
        width: 80%;
        height: 60%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          input {
            width: 100%;
            height: 50px;
            margin: 10px 0;
            background-color: #e8f0fe;
            border: none;
            border-radius: 5px;
            outline: none;
            padding: 20px;
          }

          button {
            width: 100%;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            background-color: #1877f2;
            padding: 15px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 0;
          }

          a {
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            margin: 20px 0;
            color: #1877f2;

            &:hover {
              text-decoration: underline;
            }
          }
          hr {
            width: 100%;
            border: -2px solid black; /* You can adjust the thickness by changing the value */
          }
          .btn-regis {
            background-color: #42b72a;
            width: 50%;
            margin: 25px 0;
          }
        }
      }
      p {
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
        margin-right: 60px;
      }
    }
  }
}
